# General
.DS_Store
*.log

# Node / Angular
node_modules/
dist/
coverage/

# .NET
bin/
obj/
TestResults/

# IDE
.vscode/
.idea/
*.suo
*.user

# Local env
.env
.env.*

# SQLite local dev db
*.db
*.db-shm
*.db-wal

# Angular cache
src/frontend/.angular/

# npm lock and dist
src/frontend/package-lock.json
src/frontend/dist/
